@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap");
/* Estilos gerais */
body {
  margin: 0;
  font-family: 'Pixelify Sans', sans-serif;
  background-color: #2F2F2F;
  color: #ffffff;
}

/* Centralizar o texto na tela */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

.social-icons {
  position: absolute;
  left: 20px;
  top: 52%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-icons a img {
  width: 55px;
  height: 55px;
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.social-icons a img:hover {
  transform: scale(1.2);
  opacity: 1;
}

.content {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.content h1 {
  font-size: 44px;
  margin-bottom: 20px;
  text-align: center;
}

.content p {
  font-family: 'Inria Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

/* Animação nos textos */
.home-text {
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.home-text2 {
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.home-text:hover {
  transform: translateY(-5px) scale(1.15);
  color: #CDC033;
}

.home-text2:hover {
  transform:scale(1.05);
}

.wave-container {
  position: absolute;
  bottom: -10px; /* Reduzindo a posição inicial para descer um pouco */
  left: 0;
  width: 100%;
  overflow: hidden;
}

.wave-svg {
  width: 100%;
  opacity: 30%;
  height: auto;
  animation: waveMove 5s infinite ease-in-out;
}

/* Animação suave de subir e descer */
@keyframes waveMove {
  0% { transform: translateY(0px); }
  50% { transform: translateY(15px); } /* Sobe um pouco */
  100% { transform: translateY(0px); } /* Volta para a posição inicial */
}
