body {
    overflow: hidden;
}

/* Configurações gerais da página de Skills */
.skills-container {
    text-align: center;
    padding: 50px;
    background-color: #2A2A2A;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inria Serif", serif; /* Aplicando a fonte Inria Serif */
    position: relative; /* Necessário para a decoração */
    overflow: hidden; /* Evita qualquer tipo de scroll na página */
}

/* Título principal */
.skills-title {
    font-size: 6rem;
    font-weight: bold;
}

/* Subtítulo */
.skills-subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Descrição */
.skills-description {
    max-width: 800px;
    font-size: 1rem;
    margin: 20px auto;
    line-height: 1.5;
    font-weight: 300; /* Deixa a fonte mais leve */
}

.skills-description strong {
    font-weight: bold; /* Mantém as partes destacadas fortes */
}

/* Link para o LinkedIn */
.skills-linkedin {
    font-size: 1rem;
    margin-bottom: 30px;
}

.skills-linkedin a {
    color: #FFD700; /* Amarelo ouro */
    text-decoration: none;
    font-weight: bold;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 12px; /* Mantém o espaçamento lateral */
    row-gap: 24px; /* Reduz a distância vertical entre as linhas */
    max-width: 900px;
    margin: auto;
}


/* Estilo dos ícones */
.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.skill-item:hover {
    transform: scale(1.1); 
}

.skill-icon {
    width: 120px; /* Aumentei o tamanho dos ícones */
    height: 120px;
    margin-bottom: 20px;
}


.social-icons {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1000; /* Garante que fique na frente */
}

.social-icons a img {
    width: 55px;
    height: 55px;
    opacity: 1; /* Garante que não está transparente */
    transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.social-icons a img:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.corner-decor {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10; /* Aumentei para garantir visibilidade */
}

.rectangles {
    margin-bottom: 50px;
    width: 200px;
    height: auto;
    opacity: 1; /* Garante que não está invisível */
    max-width: 100%;
}
